/* .form--input {
  font-family: 'poppins';
  margin: 2rem;
  padding: 0.5rem;
  font-size: 2.5rem;
  font-weight: 300;
  border-radius: 0.25rem;
}

.form--btn {
  color: aliceblue;
  border-radius: 0.25rem;
  font-size: 2.5rem;
  background: linear-gradient(217deg, rgba(170, 0, 255, 0.8), rgba(255,0,0,0) 70.71%),
			linear-gradient(127deg, rgb(153, 1, 199), rgba(0,255,0,0) 70.71%),
			linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
} */

main {
  padding: 3rem;
}

.form {
  display: grid;
  grid-template: 3rem 3rem / 1fr 1fr;
  gap: 2rem;
}
.form--input {
  font-family: 'poppins';
  border-radius: 0.5rem;
  border: 1px solid #D5D4D8;
  text-indent: 0.5rem;
}

.form--btn {
  font-family: 'poppins';
  grid-column: 1 / -1;
  background: linear-gradient(217deg, rgba(170, 0, 255, 0.8), rgba(255,0,0,0) 70.71%),
			linear-gradient(127deg, rgb(153, 1, 199), rgba(0,255,0,0) 70.71%),
			linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  border-radius: 0.5rem;
  color: white;
  border: none;
  cursor: pointer;

}

.meme--image {
  padding-top: 1rem;
  max-width: 100%;
}


.meme-container {
  margin: 0 auto;
  position: relative; /* set the container position to relative */
  display: inline-block; /* display the container as an inline block */
}

.meme--text--top {
  font-size: 2.5rem;
  position: absolute; /* set the text position to absolute */
  top: 0; /* position the top text at the top of the container */
  left: 0; /* position the text at the left of the container */
  width: 100%; /* set the text width to 100% of the container */
  text-align: center; /* center align the text horizontally */
  padding: 10px; /* add some padding to the text */
  color: white; /* set the text color to white */
  text-shadow: 1px 1px 2px black; /* add a shadow to the text */
}


.meme--text--bottom {
  font-size: 2.5rem;
  position: absolute; /* set the text position to absolute */
  bottom: 0; /* position the top text at the top of the container */
  left: 0; /* position the text at the left of the container */
  width: 100%; /* set the text width to 100% of the container */
  text-align: center; /* center align the text horizontally */
  padding: 10px; /* add some padding to the text */
  color: white; /* set the text color to white */
  text-shadow: 1px 1px 2px black; /* add a shadow to the text */
}
